@model VWEB.Models.Usuario
@{
    Layout = "~/Views/Shared/_TemplatePrincipal.cshtml";
    ViewBag.Title = "Home Page";
    var Mensagens = ViewBag.Mensagens;
    var Postagens = ViewBag.Postagens;
}
    <div class="mb-5" id="mensagensDaVilla">
        <a href="/Mensagens">
            <h2 class="text-dark">Mensagens Da Vila</h2>
        </a>
        <hr />
        @if (Mensagens.Count != 0)
        {
            <div class="card-deck row">
                @foreach (var mensagem in Mensagens)
                {
                    <div class="card col-md-4">
                        <div class="card-body">
                            <a href="/Mensagens/Details/@mensagem.Id">
                                <h5 class="card-title text-success">
                                    @mensagem.Titulo
                                </h5>
                            </a>
                            
                            <p class="card-text">
                                @mensagem.Texto
                            </p>
                        </div>
                    </div>
                }
            </div>
            <a href="/Mensagens">
                <h5 class="float-right text-success mt-3"> Ver Mais</h5>
            </a>
        }
    </div>

    <div id="aconteceNaVilla">
        <a href="/Postagens">
            <h2 class="text-dark">Acontece na Vila</h2>
        </a>
        <hr />
        @if (Postagens.Count != 0)
        {
            <div id="" class="card-deck">

                @foreach (var postagem in Postagens)
                {
                    <a class="card" href="/">
                        <div class="view">
                            <img src="@postagem.ImagemCapa" width="220" height="150"/>
                            <div class="mask pattern-6 flex-center waves-effect waves-light">
                                <p class="white-text">@postagem.Titulo</p>
                            </div>
                        </div>
                        <div class="card-body">
                            <p class="card-text">
                                @postagem.Texto
                            </p>
                        </div>
                    </a>
                }
            </div>
            <a href="/Postagens">
                <h5 class="float-right text-success mt-3">Ver Mais</h5>
            </a>
        }
    </div>

