@model VWEB.Models.Responsavel

@{
    ViewBag.Title = "Create";
}


<div class="card" style="width:70%;">
    <h5 class="card-header white-text text-center py-4" style="background-color: green;">
        <strong>Adicionar Responsável</strong>
    </h5>

    <div class="card-body px-lg-5 pt-0" id="">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="cadResp row">
                <div class="md-form md-outline col-md-6">
                    @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control validate ", maxlenght = "50", minlength = "5" } })
                    @Html.LabelFor(model => model.Nome, htmlAttributes: new { data_error = "Inválido", data_success = "", style = "padding-left: 30px" })
                </div>

                <div class="md-form md-outline col-md-6">
                    @Html.EditorFor(model => model.Sobrenome, new { htmlAttributes = new { @class = "form-control validate ", maxlenght = "50", minlength = "5", style = "max-width='100% !important'" } })
                    @Html.LabelFor(model => model.Sobrenome, htmlAttributes: new { data_error = "Inválido", data_success = "", style = "padding-left: 30px" })
                </div>
            </div>
            <div class="cadResp row">
                <div class="md-form md-outline col-md-5">
                    @Html.EditorFor(model => model.Endereco, new { htmlAttributes = new { @class = "form-control validate ", maxlenght = "50", minlength = "5" } })
                    @Html.LabelFor(model => model.Endereco, htmlAttributes: new { data_error = "Inválido", data_success = "", style = "padding-left: 30px" })
                </div>
                <div class="md-form md-outline col-md-4">
                    @Html.EditorFor(model => model.EndComplemento, new { htmlAttributes = new { @class = "form-control validate ", maxlenght = "100", style = "max-width='100% !important'" } })
                    @Html.LabelFor(model => model.EndComplemento, htmlAttributes: new { data_error = "Inválido", data_success = "", style = "padding-left: 30px" })
                </div>
                <div class="md-form md-outline col-md-3">
                    @Html.EditorFor(model => model.EndNumero, new { htmlAttributes = new { @class = "form-control validate ", style = "max-width='100% !important'" } })
                    @Html.LabelFor(model => model.EndNumero, htmlAttributes: new { data_error = "Inválido", data_success = "", style = "padding-left: 30px" })
                </div>
            </div>
            <div class="cadResp row">
                <div class="md-form md-outline col-md-6">
                    @Html.EditorFor(model => model.Telefone, new { htmlAttributes = new { @class = "form-control validate ", style = "max-width='100% !important'" } })
                    @Html.LabelFor(model => model.Telefone, htmlAttributes: new { data_error = "Inválido", data_success = "", style = "padding-left: 30px" })
                </div>
                <div class="md-form md-outline col-md-6">
                    @Html.EditorFor(model => model.Telefone2, new { htmlAttributes = new { @class = "form-control validate ", style = "max-width='100% !important'" } })
                    @Html.LabelFor(model => model.Telefone2, htmlAttributes: new { data_error = "Inválido", data_success = "", style = "padding-left: 30px" })
                </div>
            </div>
            <div id="reponsavel">
                <span>Tipo de Reponsavel</span>
                @Html.EnumDropDownListFor(model => model.TipoResponsavel, null, htmlAttributes: new { @class = "browser-default custom-select" })
            </div>
            <div class="cadResp row">
                <div class="md-form md-outline col-md-6">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control validate ", style = "max-width='100% !important'" } })
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { data_error = "Inválido", data_success = "", style = "padding-left: 30px" })
                </div>
                <div class="md-form md-outline col-md-6">
                    @Html.EditorFor(model => model.Senha, new { htmlAttributes = new { @class = "form-control validate ", style = "max-width='100% !important'" } })
                    @Html.LabelFor(model => model.Senha, htmlAttributes: new { data_error = "Inválido", data_success = "", style = "padding-left: 30px" })
                </div>
            </div>
            <button class="btn btn-outline-success btn-rounded btn-block z-depth-0 my-4 waves-effect" type="submit">Adicionar Responsavel</button>
        }


    </div>
</div>


    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
