@model IEnumerable<VWEB.Models.Turma>

@{
    ViewBag.Title = "Index";
}

<h2>Tumas</h2>

<table class="table mt-4">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Seriado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxAlunos)
        </th>
        <th>Ações</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Seriado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaxAlunos)
        </td>
        
        <td>
            <a href="/Turmas/Edit/@item.Id" class="btn btn-dark-green lighten-2">
                <i class="fas fa-edit text-white"></i>
            </a>
            <a href="/Turmas/Delete/@item.Id" class="btn deep-orange lighten-2">
                <i class="fas fa-trash text-white">
                </i>
            </a>
        </td>
    </tr>
}

</table>
