@model VWEB.Models.Usuario

@{
    ViewBag.Title = "Edit";
}

<div class="card" style="width:70%;">
<h5 class="card-header white-text text-center py-4" style="background-color: green;">
    <strong>Editar Usuário</strong>
</h5>

<div class="card-body px-lg-5 pt-0" id="">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.Email)

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="md-form md-outline">
                @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control validate ", maxlenght = "200", minlength = "5", style = "max-width='100% !important'" } })
                @Html.LabelFor(model => model.Nome, htmlAttributes: new { data_error = "Inválido", data_success = "" })
            </div>
            <div class="md-form md-outline">
                @Html.EditorFor(model => model.Sobrenome, new { htmlAttributes = new { @class = "form-control validate ", maxlenght = "200", minlength = "5", style = "max-width='100% !important'" } })
                @Html.LabelFor(model => model.Sobrenome, htmlAttributes: new { data_error = "Inválido", data_success = "" })
            </div>
            <div class="md-form md-outline">
                @Html.EditorFor(model => model.Senha, new { htmlAttributes = new { @class = "form-control validate ", maxlenght = "200", minlength = "5", style = "max-width='100% !important'" } })
                @Html.LabelFor(model => model.Senha, htmlAttributes: new { data_error = "Inválido", data_success = "" })
            </div>
            <button class="btn btn-outline-success btn-rounded btn-block z-depth-0 my-4 waves-effect" type="submit">Editar Usuário</button>
        </div>
    }
</div>
