@model VWEB.Models.Mensagem

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_TemplatePrincipal.cshtml";
}

<div class="card" style="width:70%;">
    <h5 class="card-header white-text text-center py-4" style="background-color: green;">
        <strong>Enviar Mensagem Normal</strong>
    </h5>

    <div class="card-body px-lg-5 pt-0" id="">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="md-form md-outline">
                @Html.EditorFor(model => model.Titulo, new { htmlAttributes = new { @class = "form-control validate ", maxlenght = "200", minlength = "5", style = "max-width='100% !important'" } })
                @Html.LabelFor(model => model.Titulo, htmlAttributes: new { data_error = "Inválido", data_success = "" })
            </div>

            <span>Público Alvo</span>
            <select class="browser-default custom-select" data-val="true" data-val-required="O campo TipoMensagem é obrigatório." id="TipoMensagem" name="TipoMensagem" style="border-radius:none;" onchange="DefinirPaiEspecifico()">

                <option selected="selected" disabled="disabled">Selecione Uma Opção</option>
                <option value="0">Público</option>
                <option value="1">Responsaveis</option>
                <option value="2">Responsavel Específico</option>

            </select>

            <div id="selectReponsavel" class="d-none mt-3">
                <span>Responsavel</span>
                @Html.DropDownList("ResponsavelId", null, htmlAttributes: new { @class = "browser-default custom-select", style = "border-radius:none;" })

            </div>

            <div class="md-form md-outline">
                @Html.TextAreaFor(model => model.Texto, new { @class = "md-textarea form-control validate", rows = "3", minlength = "40", maxlength = "600" })
                @Html.LabelFor(model => model.Texto, htmlAttributes: new { data_error = "Inválido", data_success = "" })
            </div>

            <button class="btn btn-outline-success btn-rounded btn-block z-depth-0 my-4 waves-effect" type="submit">Publicar Mensagem</button>
        }


    </div>

</div>

<script>
    function DefinirPaiEspecifico() {
        var selecionado = document.getElementById("TipoMensagem").value;
        var definirResponsavel = document.getElementById("selectReponsavel");
        if (selecionado == 2) {
            definirResponsavel.classList.remove("d-none");
        } else {
            definirResponsavel.classList.add("d-none");
        }

    }


</script>
