@model VWEB.Models.Mensagem

@{
    ViewBag.Title = "Details";
}
<div>
    
    <a class="font-weight-bold float-right text-success" href="/Home">
        Voltar
    </a>

    <h2>@Model.Titulo</h2>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Texto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Texto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>

        <dt>
            Público
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoMensagem)
        </dd>

    </dl>
</div>
