@model VWEB.Models.Postagem

@{
    ViewBag.Title = "Create";
}

    <div class="card" style="width:70%;">
        <h5 class="card-header white-text text-center py-4" style="background-color: green;">
            <strong>Criar Postagem</strong>
        </h5>
        <div class="card-body px-lg-5 pt-0" id="">
            @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <div class="md-form md-outline">
                    @Html.EditorFor(model => model.Titulo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.LabelFor(model => model.Titulo, htmlAttributes: new { @class = "control-label" })
                </div>

                <div class="md-form md-outline">
                    @Html.EditorFor(model => model.Descricao, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.LabelFor(model => model.Descricao, htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="md-form md-outline">
                    @Html.TextAreaFor(model => model.Texto, htmlAttributes: new { @class = "form-control" })
                    @Html.LabelFor(model => model.Texto, htmlAttributes: new { @class = "control-label " })
                </div>

                <div class="custom-file">
                    <input type="file" class="custom-file-input" name="ImagemCapa" id="ImagemCapa" aria-describedby="ImagemCapaAddon" required="">
                    @Html.LabelFor(model => model.ImagemCapa, new { @class = "custom-file-label" })
                </div>

                <button class="btn btn-outline-success btn-rounded btn-block z-depth-0 my-4 waves-effect" type="submit">Publicar Mensagem</button>

            }
        </div>
    </div>